/* global stilez */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #b6b6b6;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.wraper {
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

h1,h2,h3 {
    font-family: 'Montserrat';
    color:#333 ;
}

h3 {
    font-weight: 400;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* header */
.header {
    padding: 17px 0 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 55px;
    font-family: 'Montserrat';
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    color: #95E1D3;
    transition: all 0.3s;
}

.header .logo {
    margin: 0;
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;
    padding: 5px 0;
    
}

.menu-link:hover {
    color:#F38181;
    border-bottom: #F38181 solid 2px;
}

/* mobile menu */

#toggle{
    display: none;
}

.toggle_btn {
    display: none;
    position: relative;  
}

#toggle:checked ~ nav {
    top: 70px;
    right: 0;
    opacity: 1;
}

#toggle:checked ~ .toggle_btn span {
    transform: rotate(45deg);
}

#toggle:checked ~ .toggle_btn span::before {
    top: 0;
}

#toggle:checked ~ .toggle_btn span::after {
    top: 0;
    transform: rotate(90deg);
}

.toggle_btn span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #95E1D3;
    position: relative;
    position: absolute;
    top:calc(50% - 1px);
    transition: transform .3s;
}

.toggle_btn span::before {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    background-color: #95E1D3;
    position: absolute;
    top: -8px;
    transition: top .3s;
}

.toggle_btn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    background-color: #95E1D3;
    position: absolute;
    top: 8px;
    transition: top .3s, tranform .3s;
}

@media (max-width: 768px) {
    .toggle_btn {
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
    }

    nav {
        position: absolute;
        right: -100%;
        width: 30%;
        opacity: 0;
        border-radius:0 0 0 15px;
        background-color: white;
        box-shadow: 0 16px 15px #888;
        padding-bottom: 30px;
        transition: opacity .3s ;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }
}

/* section title */
.section-title {
    text-align: center;
}

.section-title .uptitle {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    margin: 0;
}

.section-title hr {
    width: 60px;
    height: 4px;
    border: none;
    background: #F38181;
    color: #F38181;
    margin: 0 auto;
}

.section-title h2 {
    margin: 20px 0 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    font-variant: small-caps;
}

.section-title .suptitle {
    margin-top: 45px;
}

/* services */
.servises {
    padding: 50px 0 0;
}

.servises_list {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
}

.servises_list_item {
    width: calc(100% / 3);
    padding: 0 35px;
    display: flex;
    column-gap: 20px;
    align-items: start;
    margin-bottom: 100px;
}

.servises_list_item img {
    display: block;
    width: 37px;
    height: auto;
}

.servises_list_item h3 {
    margin: 0 0 20px;
}

@media (max-width: 992px) {
    .servises_list_item {
        width: calc(100% / 2);
        margin-bottom: 50px;
    }
}

@media (max-width: 578px) {
    .servises_list_item {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
}

/* team */
.team_list {
    margin: 30px 0 80px;
    display: flex;
    column-gap: 30px;
}

.team_list_member {
    text-align: center;
}

.team_list_member h3 {
    font-size: 14px;
}

.team_list_member img {
    display: block;
    width: 100%;
}

.memder_photo_wrap {
    position: relative;
}

.memder_photo_wrap::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
    transition: opacity .3s;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
}

.memder_photo_wrap:hover::before, .memder_photo_wrap:hover .social-list {
    opacity: 1;
}

.social-list{
    display: flex;
    column-gap: 1px;
    position: absolute;
    top: calc(50% - (57px / 2));
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .3s;
}

.social-list-item {
    width: 57px;
    height: 57px;
    background-color:#FCE38A;
}

.social-list-item:hover {
    background: #95E1D3;
    transition: background .3s;
}

.social-list-item-link {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list-item-link img {
    height: 26px;
    width: auto;
}

@media (max-width: 768px) {
    .team_list{
        flex-wrap: wrap;
    }

    .team_list_member {
        width: calc(50% - 15px);
    }
}

@media (max-width: 578px) {
    .team_list {
        column-gap: unset;
    }

    .team_list_member {
        width: 100%;
    }
}

/* footer */
footer hr {
    border: none;
    height: 1px;
    width: 100%;
    margin: 0 0 10px;
    background-color: #B6B6B6;
    color: #B6B6B6;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
}

input[type=email] {
    border: solid 1px #B6B6B6;
    border-right:none ;
    padding: 0 0 0 10px;
    width: 230px;
    height: 39px;
}

input[type=email]::placeholder {
    color: #B6B6B6;   
}

input[type=email]:focus {
    outline: none;
    border: 1px solid #555; 
}

input[type=submit] {
    display: inline-block;
    border: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color:#95E1D3;
    color: #fff;
    width: 150px;
    height: 40px;
}

@media (max-width: 768px) {
    .footer_wrap h3 {
        font-size: 13px;
    }

    input[type=email] {
        width: 140px;
    }
}

@media (max-width: 578px) {
    .footer_wrap {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    input[type=submit] {
        width: 130px;
    }

}



